@media (max-width:490px){
    .container{
        display: flex;
        flex-direction: column;
               
    }
    
    .page .descricao {
        text-align: center;

    }
      
    .container img{
        max-width: 100%;
    
    }

    .container h2{
        font-size: 2rem;
        max-width: 100%;
    }
    .container p{
        font-size: 1.5rem;
        max-width: 100%;
    }

    .page .social{
        justify-content: center;
        margin-top: 100px;
    }
}